{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="home">
        <div class="container-fluid mainImage">
            <div class="row">
                <div class="col-12">
                <Image src="./public/images/tapisMain.jpg " class="col-12"/>
                </div >
            </div>
        </div>


    <div class="barreStyle"></div> 
    <div class="presentation"></div>
    <div class="container-fluid secondaryImages">
        <div class="row">
            <div class="col-lg-6 col-sm-12">

                <div class="card mx-auto mb-3" style="width: 20rem;">
                <img src="./public/images/ashtanga.png" class="card-img-top" alt="yoga ashtanga">
                <div class="card-body">
                    <h5 class="card-title">Ashtanga</h5>
                    <p class="card-text">L'Ashtanga est un yoga dynamique qui nécessite une bonne forme physique.</p></Card.Text>
                    <a href="#" class="lien">Yoga Dynamique</a>
                </div>

                </div>
            </div>

                <div class="col-lg-6 col-sm-12">

                <div class="card mx-auto" style="width: 20rem;">
                <img src="./public/images/hatha.jpg" class="card-img-top" alt="yoga ashtanga">
                <div class="card-body">
                    <h5 class="card-title">Hatha</h5>
                    <p class="card-text">Le Hatha est un yoga doux indiqué pour les débutants.</p></Card.Text>
                    <a href="#" class="lien">Yoga Doux</a>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

