{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<div class="vignettes container-fluid">

  <div class="row">

      <div class="col-lg-4">
          <div class="card mx-auto mb-3" style="width: 20rem;">
              <img src="./public/images/ashtanga.png" class="card-img-top" alt="yoga ashtanga">
                  <div class="card-body">
                      <h5 class="card-title">Ashtanga</h5>
                      <p class="card-text">Yoga dynamique et très codifié.
                      En Asthanga on pratique des séries contenant un certain nombre de postures différentes.
                      Dans les cours d’Ashtanga, c’est cardio et il n’est pas rare de transpirer !</p>
                  </div>            
          </div>
      </div>

      <div class="col-lg-4">
          <div class="card mx-auto mb-3" style="width: 20rem;">
              <img src="./public/images/vinyasa.png" class="card-img-top" alt="yoga vinyasa">
                  <div class="card-body">
                      <h5 class="card-title">Vinyasa</h5>
                      <p class="card-text">Le Vinyasa est proche de l’Ashtanga, mais il offre une plus grande liberté dans l’enchaînement des postures. De plus, chaque posture est suivie d’un vinyasa, c’est-à-dire un enchaînement de postures précis, qui relie chaque posture.</p>
                  </div>            
          </div>
      </div>   

      <div class="col-lg-4">
          <div class="card mx-auto mb-3" style="width: 20rem;">
              <img src="./public/images/hatha.jpg" class="card-img-top" alt="yoga hatha">
                  <div class="card-body">
                      <h5 class="card-title">Hatha</h5>
                      <p class="card-text">Yoga doux qui consiste à conserver longtemps chaque posture et donc à solliciter les muscles et la concentration en profondeur. On enchaîne les postures les unes après les autres, sans réaliser de transitions particulières entre chaque posture.</p>
                  </div>
          </div>
      </div>
 </div>

  <div class="row">

    <div class="col-lg-4">
        <div class="card mx-auto mb-3" style="width: 20rem;">
            <img src="./public/images/bikram.png" class="card-img-top" alt="yoga bikram">
                <div class="card-body">
                    <h5 class="card-title">Bikram</h5>
                    <p class="card-text">Lorsque vous entrez dans un studio de yoga bikram, la première chose que vous remarquerez est la chaleur. Chaque studio est chauffé à environ 105 degrés (°F) et présente un taux d'humidité de 40 pour cent. Durant le cours de 90 minutes, vous pratiquerez un ensemble de 26 poses, comme la pose du bâton en équilibre et celle de la sauterelle, ainsi que deux exercices de respiration qui, selon le fondateur Bikram Choudhury, permettent de faire systématiquement circuler le sang oxygéné dans le corps.</p>
                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mx-auto mb-3" style="width: 20rem;">
            <img src="./public/images/iyengar.png" class="card-img-top" alt="yoga iyengar">
                <div class="card-body">
                    <h5 class="card-title">Iyengar</h5>
                    <p class="card-text">Le yoga Iyengar a pour objectif de porter une attention précise à notre alignement durant chaque posture. Vous utiliserez une variété d'accessoires tels que des blocs, des couvertures, des sangles, des chaises pliantes et même des murs de cordes afin de trouver le bon alignement pour chaque position. Plutôt que de passer d'une pose à l'autre rapidement, vous devrez tenir chaque posture pour une plus longue période. Les cours durent habituellement une heure et demie. Le yoga Iyengar peut être thérapeutique pour les gens qui récupèrent de certaines blessures.</p>
                </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mx-auto mb-3" style="width: 20rem;">
            <img src="./public/images/kundalini.png" class="card-img-top" alt="yoga kundalini">
                <div class="card-body">
                    <h5 class="card-title">Kundalini</h5>
                    <p class="card-text">Si vous cherchez une pratique plus spirituelle et basée sur l'énergie, essayez le kundalini, fondé par le yogi Bhajan. Le kundalini est composé de kriyas, des exercices répétitifs combinés à une respiration intense (comme si vous respiriez du feu); cette pratique peut être exigeante et énergisante sur le plan physique. Grâce à des mouvements, à votre respiration et à des sons (psalmodie), vous commencerez à stimuler et à relâcher de l'énergie non exploitée au niveau de votre colonne vertébrale et par l'entremise de vos centres d'énergie, aussi appelés chakras. La durée des classes est habituellement d'une heure ou plus.</p>
                </div>
        </div>
    </div>
  </div>

</div>

{% endblock %}