{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
<div class="fond">
    <div class="container px-5 py-5">
        <p class="title1 text-center">Tarifs</p>
            <div class="row parag my-5 px-5 text-center ">
                <div class="col">
                    <h2>Cours d'essai</h2>
                    <p>Choisissez la séance et l'horaire qui vous correspondent après avoir consulté le planning en ligne.
                    Si vous avez des problèmes de dos, débutez de préference par le yoga hatha qui est un yoga doux.
                    Le Yoga Vinyasa convient aux sportifs ou aux personnes ayant une bonne condition physique.
                    </p>
                </div>
            </div >

            <div class="row parag my-5 px-5 text-center">
                <div class="col"> 
                    <h2>Cours à l'unité</h2>  
                    <p>- Cours d'essai (1h ou 1h30)  .................... 15 $ </p>
                    <p>- Cours à l'unité 1h          .................... 20 $ </p>
                    <p>- Cours à l'unité 1h30        .................... 25 $ </p>
                </div>       
            </div >
        
            <div class="row parag my-5 px-5 text-center">
                <div class="col"> 
                    <h2>Forfaits</h2>
                    <p>- Forfait 10h .................... 160 $ </p>
                    <p>- Forfait 30h .................... 450 $ </p>
                </div >
            </div>

            <div class="row parag my-5 px-5 text-center " >
                <div class="col"> 
                    <h2>Abonnement</h2>
                    <p class="text-center">Vous pouvez visionner les cours en ligne grâce à un abonnement de 30
                    $ par mois.</p>
                </div>
            </div>

            <div class="row parag my-5 px-5 text-center">
                <div class="col">
                    <h2>Conditions Générales de vente</h2>
                    <p>Les forfaits sont nominatifs et ne peuvent être utilisés que par une seule personne.
                    Ils démarrent le jour du premier cours utilisé et peuvent commencer et se finir n'importe quel jour de la semaine, à toute période de l'année.
                    Les cours payés à l’heure sont valables un an de date à date.
                    Les forfaits 10h sont valables 1 an.
                    Les forfaits 30h sont valables 18 mois.
                    Merci de noter que:
                    Les cours et forfaits ne sont EN AUCUN CAS remboursables ou échangeables.
                ​    Les cours se feront uniquement sur réservation.
                    Les annulations seront possibles jusqu'à 2 heures avant le début du cours; au-delà de ce délai, l'heure sera comptabilisée pour les élèves ayant un forfait.
                    Aucune prolongation ni suspension de forfait ne sera accordée (sauf problème de santé, sur acceptation du secrétariat et après présentation d'un certificat médical du médecin traitant portant la mention "inapte à la pratique du yoga" uniquement).​
                    </p>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}