{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

<div class="player-wrapper embed-responsive embed-responsive-16by9">
<iframe  class='react-player' src="https://www.youtube.com/embed/Z8In0I1WHFs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="player-wrapper embed-responsive embed-responsive-16by9">
<iframe class='react-player' src="https://www.youtube.com/embed/WK92nupSKkc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock %}
