{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
<p class="title2 text-center">Equipe</p>

<div class="container equipe px-5 py-5" >

<div class="row text-center">

    <div class="box col-md-6">
      <img src="./public/images/portrait1.jpg" rounded class=" portrait mr-3 my-3 border border-dark">
      <div class="middle text-center">
      <div class="text"><p><b>James<br></br>Vinyasa et Ashtanga</b></p></div>
      </div>
    </div>

    <div class="box col-md-6">
      <img src="./public/images/portrait2.jpg" rounded class=" portrait mr-3 my-3 border border-dark">
      <div class="middle text-center">
      <div class="text"><p><b>Lisa<br></br>Hatha</b></p></div>
      </div>
   </div>
</div>

<div class="row text-center">
   <div class="box col-12">
      <img src="./public/images/portrait3.jpg" rounded class=" portrait mr-3 my-3 border border-dark">
      <div class="middle text-center">
      <div class="text"><p><b>Marie<br></br>Kundalini</b></p></div>
      </div>
   </div>
</div>

<div class="row text-center">

    <div class="box col-md-6">
      <img src="./public/images/portrait4.jpg" rounded class=" portrait mr-3 my-3 border border-dark">
      <div class="middle text-center">
      <div class="text"><p><b>John<br></br>Bikram</b></p></div>
      </div>
   </div>
    
    <div class="box col-md-6">
      <img src="./public/images/portrait5.jpg" rounded class=" portrait mr-3 my-3 border border-dark">
      <div class="middle text-center">
      <div class="text"><p><b>Mike<br></br>Iyengar</b></p></div>
      </div>
   </div>

  </div>
</div>

{% endblock %}